<div class="persian-date-picker-wrapper" [class.disabled]="disabled">
  @if (pickerType === 'modal') {
    <dp-date-picker-modal
        (ngModelChange)="onModelChange($event)"
        [config]="config"
        [disabled]="disabled"
        [maxDate]="normalizedMaxDate"
        [maxTime]="maxTime"
        [minDate]="normalizedMinDate"
        [minTime]="minTime"
        [mode]="mode"
        [fontSize]="fontSize"
        [ngModel]="dateObject"
        [ngModelOptions]="standaloneNgModelOptions"
        [placeholder]="placeholder"
        [required]="required"
        class="custom-date-picker"
        dir="ltr"
        theme="dp-material">
   </dp-date-picker-modal>
    @if (dateObject) {
      <span
          class="remove-icon"
          [class.disabled]="disabled"
          (click)="!disabled && clearDate($event)">
        <i class="far fa-times</i>
     </span>
    }
  } @else {
    <dp-date-picker-modal
        (ngModelChange)="onModelChange($event)"
        [config]="inlineConfig"
        [disabled]="disabled"
        [maxDate]="normalizedMaxDate"
        [maxTime]="maxTime"
        [minDate]="normalizedMinDate"
        [minTime]="minTime"
        [mode]="mode"
        [fontSize]="fontSize"
        [ngModel]="dateObject"
        [ngModelOptions]="standaloneNgModelOptions"
        [placeholder]="placeholder"
        [required]="required"
        class="custom-date-picker inline-picker"
        dir="ltr"
        theme="dp-material">
   </dp-date-picker-modal>
    @if (dateObject) {
      <span
          class="remove-icon inline-remove"
          [class.disabled]="disabled"
          (click)="!disabled && clearDate($event)">
        <i class="far fa-times</i>
     </span>
    }
  }
</div>
