<div class="dp-calendar-nav-container">
  <div class="dp-nav-header">
    <span [attr.data-hidden]="isLabelClickable()"
          [hidden]="isLabelClickable()"
          [innerText]="label()">
    </span>
    <button (click)="labelClicked()"
            [attr.data-hidden]="!isLabelClickable()"
            [hidden]="!isLabelClickable()"
            [innerText]="label()"
            class="dp-nav-header-btn"
            type="button">
    </button>
  </div>

  <div class="dp-nav-btns-container">
    <div class="dp-calendar-nav-container-left">
      <button (click)="leftNavClicked()"
              [attr.aria-label]="labels().prev"
              [attr.data-hidden]="!showLeftNav()"
              [disabled]="leftNavDisabled()"
              [hidden]="!showLeftNav()"
              class="dp-calendar-nav-left"
              type="button">
      </button>
    </div>
    @if (showGoToCurrent()) {
      <button (click)="onGoToCurrent.emit()"
              [attr.aria-label]="labels().today"
              class="dp-current-location-btn"
              type="button">
        {{ locale() === 'fa' ? 'امروز' : 'Today' }}
      </button>
    }
    <div class="dp-calendar-nav-container-right">
      <button (click)="rightNavClicked()"
              [attr.aria-label]="labels().next"
              [attr.data-hidden]="!showRightNav()"
              [disabled]="rightNavDisabled()"
              [hidden]="!showRightNav()"
              class="dp-calendar-nav-right"
              type="button">
      </button>
    </div>
  </div>
</div>
